@charset "UTF-8";

.button {
 display       : inline-block;
  border-radius : 50%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 25px 30px;   /* 余白       */
  background    : rgba(127, 0, 127, 0.76);     /* 背景色     */
  color         : #ff4da6;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid rgba(127, 0, 127, 0.76);    /* 枠の指定 */
}
.button:hover {
   box-shadow    : none;        /* カーソル時の影消去 */
  color         : rgba(127, 0, 127, 0.76);     /* 背景色     */
  background    : #ff4da6;     /* 文字色     */
}